<div class="container">
  <div class="content">
    <div class="containerTitle">
      <h1>Login</h1>
    </div>

    <!-- <form #login="ngForm" (ngSubmit)="loginVerification(login)"> -->
    <form [formGroup]="formGroup" (ngSubmit)="loginVerification()">
      <div
        class="loginValidation"
        *ngIf="
          formGroup.controls.username.touched &&
          formGroup.controls.password.touched &&
          !loginValid
        "
      >
        <p>Invalid Username and Password.</p>
      </div>
      <div class="form-group">
        <input
          type="text"
          name="userName"
          placeholder="Username"
          class="form-control"
          required="true"
          formControlName="username"
          ngModel
        />
        <pre></pre>
      </div>
      <div class="form-group">
        <input
          type="password"
          name="password"
          placeholder="Password"
          class="form-control"
          required="true"
          formControlName="password"
          ngModel
        />
        <pre></pre>
      </div>
      <div>
        <div class="left">
          <button class="btn btn-primary">
            Sign In
          </button>
        </div>
        <div class="right"><a href="register">Register</a></div>
      </div>
    </form>
  </div>
</div>
